html {
    font-size: 15px;
}

body {
    background-color: hsl(150, 5%, 10%);;
    color: hsl(150, 10%, 80%);
    font-family: "IBM Plex Mono", Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
  }

main {
    margin-inline: auto;
    max-width: 70ch;
    padding: 4vw;
}

.intro {
    display: flex;
}

img.avatar {
    display: block;
    width:200px;
    height:200px;
}

img:not(.avatar) {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.bio h3 {
    margin-top: 0;
}

h3 {
    font-size: 2rem;
    line-height: 1.2;
}

h4 {
    font-size: 1.2rem
}

p {
    margin: 1.5rem auto;
}

h3 + p {
    margin-top: -1.2rem;
}

hr {
    border: 1px dashed;
    margin-block: 3em;
}

main > hr:last-child {
    display:none;
}

a {
    /* color: hsl(0, 100%, 100%); */
    color: #e1adc2;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

a.back {
    text-decoration: none;
}

a.back:hover {
    text-decoration: underline;
}

code, .hashtag {
    background-color: #272822;
    color: #f8f8f2;
}

code:not(pre code), .hashtag {
    border-radius: 0.25em;
    padding: 0.05em 0.25em;
}

pre code {
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
}

blockquote {
    background-color: #272822;
    padding: 0.5em 1em;
    border-left: 1px solid #444;
}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.month {
    background-color: #272822;
    border-radius: 0.5em;
    padding: 1rem;
    min-width: 75%;
}

.month-header {
    text-align: center;
    margin-bottom: 1rem;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    text-align: center;
}

.day {
    padding: 0.25rem;
}

.weekday {
    font-weight: bold;
}

.day a {
    display: block;
    text-decoration: none;
    color: #E1ADC2;
    background-color: hsl(150, 5%, 15%);
    border-radius: 0.25em;
    transition: background-color 0.3s ease;
}

.day a:hover {
    background-color: hsl(150, 5%, 20%);
}

.twitter-tweet {
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
}

.youtube-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
