<details open>
<summary>Subscribe to the weekly email digest. Check <a href="https://buttondown.com/debugjois/archive/daily-log-digest-week-21-2025/">sample email</a> out.</summary>
<form
  action="https://buttondown.com/api/emails/embed-subscribe/debugjois"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/debugjois', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" placeholder="your@email.com" />
  
  <input type="submit" value="Subscribe" />
</form>
</details>